html{
  font-size: 10px;
  line-height: 1.5;
  height: 100%;
  width: 100%;
}




body{
  height:100%;
margin:0px;
}

    @font-face {
        font-family: "linebeam";
        src: url('../fonts/Linebeam.ttf')

    }

        @font-face {
        font-family: "techy";
        src: url('../fonts/Technology-Bold.ttf')

    }

#background{
  height:100%;
  width: 100%;
  position:fixed;
  z-index: -1;
  background-image: linear-gradient(to bottom, rgb(75, 49, 49), rgb(176, 145, 142),  rgb(75, 49, 49));
box-shadow: inset 0px 0px 20px rgb(29, 25, 44) ;
}


    #outer-div{

position:relative;
}

#text-left{
  font-size: calc(8rem * 1.5);
  vertical-align: bottom;
  text-align: center;
  position: absolute;
  margin-top: 50px;
  color:rgb(255, 229, 218);
  filter: drop-shadow(2px 2px 30px rgb(255, 0, 0));
  font-family: 'linebeam';
    transition: all .5s ease;
}

#text-left span 
{
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}



.borders{
  border-top: 10px rgb(48, 53, 63);
border-left: 10px rgb(25, 30, 40);
border-style:hidden;

box-shadow: inset 2px 2px 10px rgb(44, 25, 28) ;
border-radius: 2rem;
}




#menu-button{
  font-size: calc(4rem * 1.5);
  padding-left: 40px;
  display: inline-block;
  position: fixed;
  bottom:0;
  font-family: 'techy';
  letter-spacing: 5px;
    color:rgb(255, 229, 218);
  filter: drop-shadow(2px 2px 20px rgb(255, 0, 0));
}


#dpad-middle{
  height: 15rem;
  width: 5rem;
  background-color: rgb(255, 229, 218);
  display: inline-block;
  position:absolute;
  left: calc(20rem * 1.5 + 5%);
}

#dpad-left{
  height: 5rem;
  width: 5rem;
  background-color: rgb(255, 229, 218);
  display: inline-block;
  position:absolute;
  left: calc(16.7rem * 1.5 + 5%);
  top: 5rem;
}

#dpad-right{
  height: 5rem;
  width: 5rem;
  background-color: rgb(255, 229, 218);
  display: inline-block;
  position:absolute;
  left: calc(23.3rem * 1.5 + 5%);
    top: 5rem;
}

#content-container{
  margin-left: calc(10rem * 1.5 + 5%);
  height:100%;
  position: relative;
   display: inline-block;
}

#button-container{
  display: inline-block;
  position: relative;
  margin-left: calc(-35rem * 1.5 - 5%);
  filter: drop-shadow(2px 2px 20px rgb(255, 0, 0));
}

#console-container{
display: inline-block;
margin-left: calc(80rem * 1.5 + 5%);
margin-top: calc(5rem * 1.5 + 5%);
  height:100%;
  position: absolute;
  transition: all .5s ease;
}

#console-outer{
  width:calc(50rem * 1.5 + 5%);
  height: calc(70rem * 1.5 + 5%);
  position:relative;

}

#console1{
    width:calc(40rem * 1.5 + 5%);
  height: calc(23rem * 1.5 + 5%);
  position:absolute;
  left: calc(3.5rem * 1.5);
top: calc(3.5rem * 1.5);

}

#console2{
    width:calc(40rem * 1.5 + 5%);
  height: calc(23rem * 1.5 + 5%);
  position:absolute;
    left: calc(3.5rem * 1.5);
bottom: calc(3.5rem * 1.5);
}

.console{
  transform-style: preserve-3d;
  perspective: 500px;
}


.screen-text{
  padding: calc(3rem * 1.5);
  font-family: 'techy';
  font-size: calc(2.5rem * 1.5 + 5%);
  text-align:center;
text-shadow: 4px 4px 7px rgba(255, 0, 0, 1); 
  transition: text-shadow 0.1s linear;
  color: rgb(255, 229, 218);
}






@media screen and (min-width: 2281px){
    #console-container{
margin-left: calc(80rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 2280px){
    #console-container{
margin-left: calc(70rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 2130px){
    #console-container{
margin-left: calc(60rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 1980px){
    #console-container{
margin-left: calc(50rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 1820px){
    #console-container{
margin-left: calc(40rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 1660px){
    #console-container{
margin-left: calc(30rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 1490px){
    #console-container{
margin-left: calc(20rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 1310px){
    #console-container{
margin-left: calc(20rem * 1.5 + 5%);
transform: scale(.5, .5);
    }
}

@media screen and (max-width: 920px){
    #console-container{
margin-left: calc(10rem * 1.5 + 5%);
transform: scale(.5, .5);
    }
}

@media screen and (max-width: 920px){
    #console-container{
margin-left: calc(10rem * 1.5 + 5%);
transform: scale(.5, .5);
    }
}

@media screen and (max-width: 745px){
    #console-container{
margin-left: calc(3rem * 1.5 + 5%);
transform: scale(.35, .35);
    }
}





@media screen and (min-width: 1311px){
    #text-left{
  font-size: calc(8rem * 1.5);
    }
}

@media screen and (max-width: 1310px){
    #text-left{
  font-size: calc(6rem * 1.5);
    }
}

@media screen and (max-width: 745px){
    #text-left{
  font-size: calc(4rem * 1.5);
    }
}