html{
  font-size: 10px;
  line-height: 1.5;
  height: 100%;
}

body{
  height:100%;
margin:0px;
}

    @font-face {
        font-family: "linebeam";
        src: url('../fonts/Linebeam.ttf')

    }

        @font-face {
        font-family: "techy";
        src: url('../fonts/Technology-Bold.ttf')

    }


    .spinningword2 {
      display: inline-block; 
      animation: spin .5s linear infinite;

    }


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



#spinningParagraph2{
  max-width: 1500px;

  font-family: 'techy';
  letter-spacing: 5px;
    color:rgb(97, 234, 255);
  filter: drop-shadow(2px 2px 20px rgb(0, 72, 255));
}


#text-left{
  font-size: calc(8rem * 1.5);
  vertical-align: bottom;
  text-align: center;
  position: absolute;
  margin-top: 50px;
  color:rgb(97, 234, 255);
  filter: drop-shadow(2px 2px 30px rgb(0, 72, 255));
  font-family: 'linebeam';
}

#text-left span 
{
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}



#LetterBox{
width: fit-content;
padding: calc(2rem + 5%);
}

#LetterBox2{
width: fit-content;
height: fit-content;
display: inline-block;
position: relative;
/* filter: drop-shadow(2px 2px 5px rgb(166, 191, 203)); */
}

#flexbox-container{
display: inline-block;
position:fixed;
bottom:0;
right: 0;
margin-left: calc(17rem * 1.5);
}

.borders{
  border-top: 10px rgb(48, 53, 63);
border-left: 10px rgb(25, 30, 40);
border-bottom: 0;
border-right: 0;
border-style:solid;
margin-bottom: 0;
padding-left: 10px;
padding-top: 10px;
}


.skipleft{

 width: 0;
 height: 0;
 border-top: 50px solid transparent;
 border-right: 100px solid rgb(255, 255, 255);
 border-bottom: 50px solid transparent;
    
}

.skipintersect{
  position:absolute;
left: 55px;
bottom: 0px;
}

#skipbuttonleft{
position: relative;
display: inline-block;
margin-right: calc(5rem + 5%);
}


#outer-div{
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(48, 53, 63), rgb(131, 157, 170),  rgb(48, 53, 63));
}



.skipright{
 width: 0;
 height: 0;
 border-top: 50px solid transparent;
 border-left: 100px solid rgb(151, 151, 155);
 border-bottom: 50px solid transparent;
    
}

.skipintersect2{
  position:absolute;
left: -55px;
bottom: 0px;
}

#skipbuttonright{
position: relative;
display: inline-block;
margin-left: calc(5rem + 5%);
}


#stop-button{
  height: 100px;
  width: 100px;
background-color: rgb(97, 234, 255);
display:inline-block;
position:relative;

}


#buttonscontainer{
  display: inline-block;
  position: absolute;
  width:100%;
filter: drop-shadow(2px 2px 30px rgb(0, 72, 255));
}

#menu-button{
  font-size: calc(4rem * 1.5);
  padding-left: 40px;
  display: inline-block;
  position: fixed;
  bottom:0;
  font-family: 'techy';
  letter-spacing: 5px;
    color:rgb(97, 234, 255);
  filter: drop-shadow(2px 2px 20px rgb(0, 72, 255));
}


#button-text-container{
height: 100%;
}

#button-and-text-box{

  position: relative;
  display:inline-block;

}





@media screen and (min-width: 1563px),
screen and (min-height: 1001px){
    #spinningParagraph2{
       font-size: calc(3rem * 1.5);
    }
}

@media screen and (max-width: 1562px),
screen and (max-height: 1000px){
    #spinningParagraph2{
       font-size: calc(2.5rem * 1.5);
    }
}

@media screen and (max-width: 1302px),
screen and (max-height: 800px){
    #spinningParagraph2{
       font-size: calc(2rem * 1.5);
    }
}

@media screen and (max-width: 1000px),
screen and (max-height: 600px){
    #spinningParagraph2{
       font-size: calc(1.5rem * 1.5);
    }
}

@media screen and (max-width: 600px),
screen and (max-height: 400px){
    #spinningParagraph2{
       font-size: calc(1rem * 1.5);
    }
}







@media screen and (min-width: 1301px){
    .skipright, .skipintersect2, #stop-button{
 width: 0;
 height: 0;
 border-top: 50px solid transparent;
 border-left: 100px solid rgb(97, 234, 255);
 border-bottom: 50px solid transparent;
    }
}

@media screen and (max-width: 1300px){
    .skipright, .skipintersect2, #stop-button{
 width: 0;
 height: 0;
 border-top: 25px solid transparent;
 border-left: 50px solid rgb(97, 234, 255);
 border-bottom: 25px solid transparent;
    }
}




@media screen and (min-width: 1301px){
    .skipintersect2{
  position:absolute;
left: -55px;
bottom: 0px;
    }
}

@media screen and (max-width: 1300px){
    .skipintersect2{
  position:absolute;
left: -27.5px;
bottom: 0px;
    }
}




@media screen and (min-width: 1301px){
    .skipleft, .skipintersect{
 width: 0;
 height: 0;
 border-top: 50px solid transparent;
 border-right: 100px solid rgb(97, 234, 255);
 border-bottom: 50px solid transparent;
    }
}

@media screen and (max-width: 1300px){
    .skipleft, .skipintersect{
 width: 0;
 height: 0;
 border-top: 25px solid transparent;
 border-right: 50px solid rgb(97, 234, 255);
 border-bottom: 25px solid transparent;
    }
}




@media screen and (min-width: 1301px){
    .skipintersect{
  position:absolute;
left: 55px;
bottom: 0px;
    }
}

@media screen and (max-width: 1300px){
    .skipintersect{
  position:absolute;
left: 27.5px;
bottom: 0px;
    }
}





@media screen and (min-width: 1301px){
    #buttonscontainer{
  top: calc(-8rem - 5%);
    }
}

@media screen and (max-width: 1300px){
    #buttonscontainer{
  top: calc(-4rem - 5%);
    }
}




@media screen and (min-width: 551px){
    #skipbuttonleft{
margin-right: calc(3rem + 5%);
    }
}

@media screen and (max-width: 550px){
    #skipbuttonleft{
margin-right: calc(3rem + 5%);
    }
}



@media screen and (min-width: 551px){
    #skipbuttonright{
margin-left: calc(3rem + 5%);
    }
}

@media screen and (max-width: 550px){
    #skipbuttonright{
margin-left: calc(3rem + 5%);
    }
}





@media screen and (min-height: 1001px){
    #text-left{
  font-size: calc(8rem * 1.5);
    }
}

@media screen and (max-height: 1000px){
    #text-left{
  font-size: calc(6rem * 1.5);
    }
}

@media screen and (max-height: 750px){
    #text-left{
  font-size: calc(5rem * 1.5);
    }
}

@media screen and (max-height: 630px){
    #text-left{
  font-size: calc(4rem * 1.5);
    }
}

@media screen and (max-height: 630px){
    #text-left{
  font-size: calc(4rem * 1.5);
    }
}

@media screen and (max-height: 530px){
    #text-left{
  font-size: calc(3rem * 1.5);
    }
}






@media screen and (min-height: 1001px){
    #menu-button{
  font-size: calc(4rem * 1.5);
    }
}

@media screen and (max-height: 1000px){
    #menu-button{
  font-size: calc(3.5rem * 1.5);
    }
}

@media screen and (max-height: 750px){
    #menu-button{
  font-size: calc(3rem * 1.5);
    }
}

@media screen and (max-height: 630px){
    #menu-button{
  font-size: calc(2.5rem * 1.5);
    }
}

@media screen and (max-height: 630px){
    #menu-button{
  font-size: calc(2rem * 1.5);
    }
}

@media screen and (max-height: 530px){
    #menu-button{
  font-size: calc(1.5rem * 1.5);
    }
}