html{
  font-size: 10px;
  line-height: 1.5;
  height: 100%;
  width: 100%;
}

body{
  height:100%;
  width: 100%;
margin:0px;
text-align: right;

}

    @font-face {
        font-family: "linebeam";
        src: url('../fonts/Linebeam.ttf')

    }

        @font-face {
        font-family: "techy";
        src: url('../fonts/Technology-Bold.ttf')

    }





#background{
  height:100%;
  width: 100%;
  position:fixed;
  z-index: -1;
  background-image: linear-gradient(to bottom, rgb(63, 57, 51), rgb(172, 171, 143),  rgb(63, 57, 51));
box-shadow: inset 0px 0px 20px rgb(29, 25, 44) ;

}
    
#outer-div{
  width: 100%;
  display:inline-block;
}

#text-left{
  font-size: calc(8rem * 1.5);
  vertical-align: bottom;
  text-align: center;
  position: absolute;
  margin-top: 50px;
  color:rgb(255, 241, 116);
  filter: drop-shadow(2px 2px 30px rgb(255, 128, 0));
  font-family: 'linebeam';
}

#text-left span 
{
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}


/* .skipleft{

 width: 0;
 height: 0;
 border-top: 50px solid transparent;
 border-right: 100px solid rgb(255, 241, 116);
 border-bottom: 50px solid transparent;
    
}

.skipintersect{
  position:absolute;
left: 55px;
bottom: 0px;
}

#skipbuttonleft{
position: relative;
display: inline-block;
margin-right: calc(5rem + 5%);
}

.skipright{
 width: 0;
 height: 0;
 border-top: 50px solid transparent;
 border-left: 100px solid rgb(255, 241, 116);
 border-bottom: 50px solid transparent;
    
}

.skipintersect2{
  position:absolute;
left: -55px;
bottom: 0px;
}

#skipbuttonright{
position: relative;
display: inline-block;
margin-left: calc(5rem + 5%);
}


#stop-button{
  height: 100px;
  width: 100px;
background-color: rgb(255, 241, 116);
display:inline-block;
position:relative;

}*/


#AB{
  position: absolute;
  width:100%;
filter: drop-shadow(2px 2px 30px rgb(255, 128, 0));
font-family: 'techy';
font-size: calc(3rem * 1.5);
  color:rgb(255, 241, 116);
  top: calc(2rem * 1.5);
  right: calc(2rem * 1.5);
} 

.site-button{
      font-size: calc(6rem * 1.5);
  font-family: 'techy';
  letter-spacing: 5px;
    color:rgb(255, 241, 116);
  filter: drop-shadow(2px 2px 20px rgb(255, 128, 0));
  padding-top: calc(1rem * 1.5);
  padding-left: calc(3rem * 1.5);
  padding-right: calc(3rem * 1.5);

}

.borders{
    box-shadow: inset 2px 2px 10px rgb(29, 25, 44);
    border-radius: 2rem;
    width: fit-content;
        float: right;
        margin-top: calc(2rem * 1.5 + 5%);
        max-height: 14rem;
}

#site-buttons-container{
    margin-left: calc(10rem * 1.5 + 5%);
    margin-top: calc(10rem * 1.5 + 5%);
    display: inline-block;
    width: fit-content;
    right:0;
    position:relative;

}


#disk.border-container{
    display: inline-block;
    position: absolute;
    width:max-content;
 right: calc(25rem * 1.5 + 5%);
 top: calc(0rem * 1.5 + 5%);
 transition:all .5s ease;
}


#disk.border-container.hover-active{
    display: inline-block;
    position: absolute;
    width:max-content;
 right: calc(40rem * 1.5 + 5%);
 top: calc(0rem * 1.5 + 5%);
transition: all .5s ease;
}




#dual.border-container{
    display: inline-block;
    position: absolute;
    width:max-content;
 right: calc(35rem * 1.5 + 5%);
 top: calc(13rem * 1.5 + 5%);
 transition: all 0.3s ease-in-out;
}

#dual.border-container.hover-active{
    display: inline-block;
    position: absolute;
    width:max-content;
 right: calc(50rem * 1.5 + 5%);
 top: calc(13rem * 1.5 + 5%);
transition: all .5s ease;
}




#play.border-container{
    display: inline-block;
    position: absolute;
    width:max-content;
 right: calc(45rem * 1.5 + 5%);
 top: calc(26rem * 1.5 + 5%);
 transition: all 0.3s ease-in-out;
}

#play.border-container.hover-active{
    display: inline-block;
    position: absolute;
    width:max-content;
 right: calc(60rem * 1.5 + 5%);
 top: calc(26rem * 1.5 + 5%);
transition: all .5s ease;
}




#tube.border-container{
    display: inline-block;
    position: absolute;
    width:max-content;
 right: calc(55rem * 1.5 + 5%);
 top: calc(39rem * 1.5 + 5%);
 transition: all 0.3s ease-in-out;
}

#tube.border-container.hover-active{
    display: inline-block;
    position: absolute;
    width:max-content;
 right: calc(70rem * 1.5 + 5%);
 top: calc(39rem * 1.5 + 5%);
transition: all .5s ease;
}