html{
  font-size: 10px;
  line-height: 1.5;
  height: 100%;
  width: 100%;
}

body{
  height:100%;
  width: 100%;
margin:0px;
text-align: right;

}

    @font-face {
        font-family: "linebeam";
        src: url('../fonts/Linebeam.ttf')

    }

        @font-face {
        font-family: "techy";
        src: url('../fonts/Technology-Bold.ttf')

    }





#background{
  height:100%;
  width: 100%;
  position:fixed;
  z-index: -1;
  background-image: linear-gradient(to bottom, rgb(63, 57, 51), rgb(172, 171, 143),  rgb(63, 57, 51));
box-shadow: inset 0px 0px 20px rgb(29, 25, 44) ;

}
    
#outer-div{
  width: 100%;
  display:inline-block;
}

#text-left{
  font-size: calc(8rem * 1.5);
  vertical-align: bottom;
  text-align: center;
  position: absolute;
  margin-top: 50px;
  color:rgb(255, 241, 116);
  filter: drop-shadow(2px 2px 30px rgb(255, 128, 0));
  font-family: 'linebeam';
  transition: all .5s ease;
}

#text-left span 
{
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}



#AB{
  position: absolute;
  width:100%;
filter: drop-shadow(2px 2px 30px rgb(255, 128, 0));
font-family: 'techy';
font-size: calc(3rem * 1.5);
  color:rgb(255, 241, 116);
  top: calc(2rem * 1.5);
  right: calc(2rem * 1.5);
   transition: all 0.3s ease-in-out;
} 

.site-button{
      font-size: calc(6rem * 1.5);
  font-family: 'techy';
  letter-spacing: 5px;
    color:rgb(255, 241, 116);
  filter: drop-shadow(2px 2px 20px rgb(255, 128, 0));
  padding-top: calc(1rem * 1.5);
  padding-left: calc(3rem * 1.5);
  padding-right: calc(3rem * 1.5);
  transition: all .5s ease;

}

.borders{
    box-shadow: inset 2px 2px 10px rgb(29, 25, 44);
    border-radius: 2rem;
    width: fit-content;
        float: right;
        margin-top: calc(2rem * 1.5 + 5%);
        max-height: 14rem;
}

#site-buttons-container{
    margin-left: calc(10rem * 1.5 + 5%);
    margin-top: calc(10rem * 1.5 + 5%);
    display: inline-block;
    width: fit-content;
    right:0;
    position:relative;

}


#disk.border-container{
    display: inline-block;
    position: absolute;
    width:max-content;
 right: calc(25rem * 1.5 + 5%);
 top: calc(0rem * 1.5 + 5%);
 transition:all .5s ease;
}


#disk.border-container.hover-active{
    display: inline-block;
    position: absolute;
    width:max-content;
 right: calc(40rem * 1.5 + 5%);
 top: calc(0rem * 1.5 + 5%);
transition: all .5s ease;
}




#dual.border-container{
    display: inline-block;
    position: absolute;
    width:max-content;
 right: calc(35rem * 1.5 + 5%);
 top: calc(13rem * 1.5 + 5%);
 transition: all 0.3s ease-in-out;
}

#dual.border-container.hover-active{
    display: inline-block;
    position: absolute;
    width:max-content;
 right: calc(50rem * 1.5 + 5%);
 top: calc(13rem * 1.5 + 5%);
transition: all .5s ease;
}




#play.border-container{
    display: inline-block;
    position: absolute;
    width:max-content;
 right: calc(45rem * 1.5 + 5%);
 top: calc(26rem * 1.5 + 5%);
 transition: all 0.3s ease-in-out;
}

#play.border-container.hover-active{
    display: inline-block;
    position: absolute;
    width:max-content;
 right: calc(60rem * 1.5 + 5%);
 top: calc(26rem * 1.5 + 5%);
transition: all .5s ease;
}




#tube.border-container{
    display: inline-block;
    position: absolute;
    width:max-content;
 right: calc(55rem * 1.5 + 5%);
 top: calc(39rem * 1.5 + 5%);
 transition: all 0.3s ease-in-out;
}

#tube.border-container.hover-active{
    display: inline-block;
    position: absolute;
    width:max-content;
 right: calc(70rem * 1.5 + 5%);
 top: calc(39rem * 1.5 + 5%);
transition: all .5s ease;
}




@media screen and (min-width: 1801px){
    #disk.border-container{
       right: calc(25rem * 1.5 + 5%);
        top: calc(0rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 1800px){
    #disk.border-container{
right: calc(5rem * 1.5 + 5%);
 top: calc(-5rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 770px){
    #disk.border-container{
right: calc(2rem * 1.5 + 5%);
top: calc(-5rem * 1.5 + 5%);
    }
}






@media screen and (min-width: 1801px){
#disk.border-container.hover-active{
 right: calc(40rem * 1.5 + 5%);
 top: calc(0rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 1800px){
#disk.border-container.hover-active{
 right: calc(20rem * 1.5 + 5%);
 top: calc(-5rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 1300px){
#disk.border-container.hover-active{
 right: calc(10rem * 1.5 + 5%);
 top: calc(-5rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 770px){
    #disk.border-container.hover-active{
right: calc(7rem * 1.5 + 5%);
top: calc(-5rem * 1.5 + 5%);
    }
}








@media screen and (min-width: 1801px){
    #dual.border-container{
       right: calc(35rem * 1.5 + 5%);
       top: calc(13rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 1800px){
    #dual.border-container{
right: calc(10rem * 1.5 + 5%);
top: calc(5rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 1300px){
    #dual.border-container{
right: calc(5rem * 1.5 + 5%);
top: calc(3rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 770px){
    #dual.border-container{
right: calc(2rem * 1.5 + 5%);
top: calc(2rem * 1.5 + 5%);
    }
}



@media screen and (min-width: 1801px){
    #dual.border-container.hover-active{
 right: calc(50rem * 1.5 + 5%);
 top: calc(13rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 1800px){
    #dual.border-container.hover-active{
right: calc(25rem * 1.5 + 5%);
top: calc(5rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 1300px){
    #dual.border-container.hover-active{
right: calc(10rem * 1.5 + 5%);
top: calc(3rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 770px){
    #dual.border-container.hover-active{
right: calc(7rem * 1.5 + 5%);
top: calc(2rem * 1.5 + 5%);
    }
}






@media screen and (min-width: 1801px){
    #play.border-container{
       right: calc(45rem * 1.5 + 5%);
        top: calc(26rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 1800px){
    #play.border-container{
right: calc(15rem * 1.5 + 5%);
 top: calc(16rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 1300px){
    #play.border-container{
right: calc(5rem * 1.5 + 5%);
 top: calc(12rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 770px){
    #play.border-container{
right: calc(2rem * 1.5 + 5%);
top: calc(10rem * 1.5 + 5%);
    }
}




@media screen and (min-width: 1801px){
    #play.border-container.hover-active{
 right: calc(60rem * 1.5 + 5%);
 top: calc(26rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 1800px){
    #play.border-container.hover-active{
right: calc(30rem * 1.5 + 5%);
top: calc(16rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 1300px){
    #play.border-container.hover-active{
right: calc(10rem * 1.5 + 5%);
top: calc(12rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 770px){
    #play.border-container.hover-active{
right: calc(7rem * 1.5 + 5%);
top: calc(10rem * 1.5 + 5%);
    }
}





@media screen and (min-width: 1801px){
    #tube.border-container{
       right: calc(55rem * 1.5 + 5%);
        top: calc(39rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 1800px){
    #tube.border-container{
right: calc(20rem * 1.5 + 5%);
 top: calc(27rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 1300px){
    #tube.border-container{
right: calc(5rem * 1.5 + 5%);
 top: calc(21rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 770px){
    #tube.border-container{
right: calc(2rem * 1.5 + 5%);
top: calc(18rem * 1.5 + 5%);
    }
}




@media screen and (min-width: 1801px){
    #tube.border-container.hover-active{
 right: calc(70rem * 1.5 + 5%);
 top: calc(39rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 1800px){
    #tube.border-container.hover-active{
right: calc(35rem * 1.5 + 5%);
top: calc(27rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 1300px){
    #tube.border-container.hover-active{
right: calc(10rem * 1.5 + 5%);
top: calc(21rem * 1.5 + 5%);
    }
}

@media screen and (max-width: 770px){
    #tube.border-container.hover-active{
right: calc(7rem * 1.5 + 5%);
top: calc(18rem * 1.5 + 5%);
    }
}




@media screen and (min-width: 1801px){
    .site-button{
       font-size: calc(6rem * 1.5);
    }
}

@media screen and (max-width: 1800px){
    .site-button{
       font-size: calc(4rem * 1.5);
    }
}

@media screen and (max-width: 880px){
    .site-button{
       font-size: calc(3rem * 1.5);
    }
}

@media screen and (max-width: 730px){
    .site-button{
       font-size: calc(2rem * 1.5);
    }
}




@media screen and (min-width: 881px){
    #text-left{
       font-size: calc(8rem * 1.5);
    }
}

@media screen and (max-width: 880px){
    #text-left{
       font-size: calc(6rem * 1.5);
    }
}

@media screen and (max-width: 730px){
    #text-left{
       font-size: calc(4rem * 1.5);
    }
}




@media screen and (min-width: 881px){
    #AB{
font-size: calc(3rem * 1.5);
    }
}

@media screen and (max-width: 880px){
    #AB{
font-size: calc(2rem * 1.5);
    }
}

@media screen and (max-width: 730px){
    #AB{
font-size: calc(1rem * 1.5);
    }
}