html{
  font-size: 40px;
  line-height: 1.5;
  height: 100%;
}

body{
  height:100%;
margin:0px;
}

    .spinningword1:hover {
      display: inline-block; 
      animation: spin .5s infinite linear;

    }

    .spinningword2:hover {
      display: inline-block; 
      animation: spin .5s linear infinite;

    }

    .spinningword3:hover {
      display: inline-block; 
      animation: spin .5s linear infinite;
    }







@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/* #spinningParagraph1{
  max-width: 1500px;
  background-color: aquamarine;
  padding-bottom: 20px;
} */

#spinningParagraph2{
  max-width: 1500px;
}

/* #spinningParagraph3{
  max-width: 1500px;
  background-color: aquamarine;
  padding-top: 20px;
} */

#text-left{

  background-color: azure;
  font-size: 2lh;
  vertical-align: bottom;
  text-align: center;
  position: absolute;
  margin-top: 50px;
  
}

#text-left span 
{
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
/*   white-space: nowrap; */
}

#flexbox{

background-color: rgba(127, 127, 255, 0.067);
width: 20%;
min-width: 200px;
height: 100%;
display: inline-block;
position:relative;
top:0;
/* display: flex;
align-self:flex-end;
align-items: flex-end; */
}



#LetterBox{
width: fit-content;
padding: calc(2rem + 5%);
}

#LetterBox2{
width: fit-content;
height: fit-content;
display: inline-block;
position: relative;

}

#flexbox-container{
display: inline-block;
position:fixed;
bottom:0;
right: 0;
margin-left:6rem;
}

.borders{
  border-top: 10px black;
border-left: 10px black;
border-bottom: 0;
border-right: 0;
border-style: groove;
margin-bottom: 0;
padding-left: 10px;
padding-top: 10px;
}


.skipleft{

 width: 0;
 height: 0;
 border-top: 50px solid transparent;
 border-right: 100px solid red;
 border-bottom: 50px solid transparent;
    
}

.skipintersect{
  position:absolute;
left: 55px;
bottom: 0px;
}

#skipbuttonleft{
position: relative;
display: inline-block;
margin-right: calc(2rem + 5%);
}


#outer-div{
  height: 100%;
}



.skipright{
 width: 0;
 height: 0;
 border-top: 50px solid transparent;
 border-left: 100px solid red;
 border-bottom: 50px solid transparent;
    
}

.skipintersect2{
  position:absolute;
left: -55px;
bottom: 0px;
}

#skipbuttonright{
position: relative;
display: inline-block;
margin-left: calc(2rem + 5%);
}


#stop-button{
  height: 100px;
  width: 100px;
background-color: red;
display:inline-block;
position:relative;
}


#buttonscontainer{
  display: inline-block;
  position: absolute;
  width:100%;
  top: calc(-4rem - 5%);
}

#menu-button{
  font-size: 1.5rem;
  padding-left: 40px;
  display: inline-block;
  position: fixed;
  bottom:0;
}


#button-text-container{
/* display:flex;
flex-direction: column; */
height: 100%;
/* justify-content: flex-end; */
}

#button-and-text-box{

  position: relative;
  display:inline-block;

}


/* @media screen and (min-width: 1563px){
    #spinningParagraph1{
       font-size: 1rem;
    }
}

@media screen and (max-width: 1562px){
    #spinningParagraph1{
       font-size: .9rem;
    }
} */






@media screen and (min-width: 1563px){
    #spinningParagraph2{
       font-size: 1rem;
    }
}

@media screen and (max-width: 1562px){
    #spinningParagraph2{
       font-size: .9rem;
    }
}

@media screen and (max-width: 1302px){
    #spinningParagraph2{
       font-size: .8rem;
    }
}

@media screen and (max-width: 1000px){
    #spinningParagraph2{
       font-size: .7rem;
    }
}








@media screen and (min-width: 1301px){
    .skipright, .skipintersect2, #stop-button{
 width: 0;
 height: 0;
 border-top: 50px solid transparent;
 border-left: 100px solid red;
 border-bottom: 50px solid transparent;
    }
}

@media screen and (max-width: 1300px){
    .skipright, .skipintersect2, #stop-button{
 width: 0;
 height: 0;
 border-top: 25px solid transparent;
 border-left: 50px solid red;
 border-bottom: 25px solid transparent;
    }
}


@media screen and (min-width: 1301px){
    .skipintersect2{
  position:absolute;
left: -55px;
bottom: 0px;
    }
}

@media screen and (max-width: 1300px){
    .skipintersect2{
  position:absolute;
left: -27.5px;
bottom: 0px;
    }
}




@media screen and (min-width: 1301px){
    .skipleft, .skipintersect{
 width: 0;
 height: 0;
 border-top: 50px solid transparent;
 border-right: 100px solid red;
 border-bottom: 50px solid transparent;
    }
}

@media screen and (max-width: 1300px){
    .skipleft, .skipintersect{
 width: 0;
 height: 0;
 border-top: 25px solid transparent;
 border-right: 50px solid red;
 border-bottom: 25px solid transparent;
    }
}




@media screen and (min-width: 1301px){
    .skipintersect{
  position:absolute;
left: 55px;
bottom: 0px;
    }
}

@media screen and (max-width: 1300px){
    .skipintersect{
  position:absolute;
left: 27.5px;
bottom: 0px;
    }
}








/* @media screen and (min-width: 1563px){
    #spinningParagraph3{
       font-size: 1rem;
    }
}

@media screen and (max-width: 1562px){
    #spinningParagraph3{
       font-size: .9rem;
    }
} */

