html{
  font-size: 10px;
  line-height: 1.5;
  height: 100%;
}

body{
  height:100%;
margin:0px;
}

    @font-face {
        font-family: "linebeam";
        src: url('../fonts/Linebeam.ttf')

    }

        @font-face {
        font-family: "techy";
        src: url('../fonts/Technology-Bold.ttf')

    }

#background{
  height:100%;
  width: 100%;
  position:fixed;
  z-index: -1;
  background-image: linear-gradient(to bottom, rgb(40, 54, 35), rgb(117, 143, 105),  rgb(40, 54, 35));
box-shadow: inset 0px 0px 20px rgb(29, 25, 44) ;
}


    #outer-div{
  width: 100%;
  display:inline-block;

}

#text-left{
  font-size: calc(6rem * 1.5);
  vertical-align: bottom;
  text-align: center;
  position: absolute;
  margin-top: 50px;
  color:rgb(156, 255, 123);
  filter: drop-shadow(2px 2px 20px rgb(26, 255, 0));
  font-family: 'linebeam';
}

#text-left span 
{
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}



.borders{
border-bottom: 0;
border-right: 0;
border-style:hidden;

box-shadow: inset 2px 2px 10px rgb(29, 25, 44) ;
border-radius: 2rem;
}




#menu-button{
  font-size: calc(4rem * 1.5);
  padding-left: 40px;
  display: inline-block;
  position: fixed;
  bottom:0;
  font-family: 'techy';
  letter-spacing: 5px;
    color:rgb(156, 255, 123);
  filter: drop-shadow(2px 2px 20px rgb(26, 255, 0));
}


.skipleft{

 width: 0;
 height: 0;
 border-top: 50px solid transparent;
 border-right: 100px solid rgb(156, 255, 123);
 border-bottom: 50px solid transparent;
    
}

.skipintersect{
  position:absolute;
left: 55px;
bottom: 0px;
}

#skipbuttonleft{
position: relative;
display: inline-block;
margin-right: calc(5rem + 5%);
}


.skipright{
 width: 0;
 height: 0;
 border-top: 50px solid transparent;
 border-left: 100px solid rgb(156, 255, 123);
 border-bottom: 50px solid transparent;
    
}

.skipintersect2{
  position:absolute;
left: -55px;
bottom: 0px;
}

#skipbuttonright{
position: relative;
display: inline-block;
margin-left: calc(5rem + 5%);
}


#stop-button{
  height: 100px;
  width: 100px;
background-color: rgb(156, 255, 123);
display:inline-block;
position:relative;

}


#buttonscontainer{
  display: inline-block;
  position: absolute;
  width:100%;
filter: drop-shadow(2px 2px 30px rgb(26, 255, 0));
top: 7rem;
}

#container{
  margin-left: calc(10rem * 1.5 + 10%);
  position:relative;
}

#tv-outline{
  position:fixed;
  bottom:0;
  right:calc(2rem * 1.5 + 10%);
  height:70rem;
  width:70rem;
  padding: calc(4rem * 1.5);
}

#tv-text{
    padding: calc(2rem * 1.5);
  font-family: 'techy';
  font-size: 4rem;
  text-align:center;
    color:rgb(156, 255, 123);
  filter: drop-shadow(2px 2px 20px rgb(26, 255, 0));
}



#tv-screen{
  height:calc(34rem * 1.5);
}



#rewind{
   width: 0;
 height: 0;
 border-top: 4rem solid transparent;
 border-right: 8rem solid rgb(156, 255, 123);
 filter: drop-shadow(2px 2px 20px rgb(26, 255, 0));
 border-bottom: 4rem solid transparent;
 position: absolute;
  bottom: 13rem;
left: 20rem;
}

#forward{
   width: 0;
 height: 0;
 border-top: 4rem solid transparent;
 border-left: 8rem solid rgb(156, 255, 123);
 filter: drop-shadow(2px 2px 20px rgb(26, 255, 0));
 border-bottom: 4rem solid transparent;
  display:none;
 position: absolute;
 bottom: 13rem;
left: 20rem;
}

#pauseButton{
background-color:rgb(156, 255, 123);
filter: drop-shadow(2px 2px 20px rgb(26, 255, 0));
height: 8rem;
width: 8rem;
position: absolute;
bottom: 13rem;
right: 20rem;
}

#playButton{
   width: 0;
 height: 0;
 border-top: 4rem solid transparent;
 border-left: 8rem solid rgb(156, 255, 123);
 filter: drop-shadow(2px 2px 20px rgb(26, 255, 0));
 border-bottom: 4rem solid transparent;
 display:none;
 position: absolute;
bottom: 13rem;
right: 20rem;
}

.labels{
  font-family: 'techy';
  font-size: 3rem;
  position:absolute;
  color:rgb(156, 255, 123);
  filter: drop-shadow(2px 2px 20px rgb(26, 255, 0));
}

#word1{
bottom:6rem;
left:21rem;
}

#word2{
bottom:6rem;
left:19rem;
display:none;
}

#word3{
bottom:6rem;
right:21rem;
}

#word4{
bottom:6rem;
right:21rem;
display:none;
}



@media screen and (min-width: 1231px){
    #tv-outline{
  right:calc(2rem * 1.5 + 10%);
  height:70rem;
  width:70rem;
  padding: calc(4rem * 1.5);
    }
}

@media screen and (max-width: 1230px){
    #tv-outline{
  right:calc(1rem * 1.5 + 5%);
  height:70rem;
  width:60rem;
  padding: calc(4rem * 1.5);
    }
}

@media screen and (max-width: 1000px){
    #tv-outline{
  right:calc(1rem * 1.5 + 5%);
  height:75rem;
  width:50rem;
  padding: calc(3rem * 1.5);
    }
}

@media screen and (max-width: 860px){
    #tv-outline{
  right:calc(1rem * 1.5 + 5%);
  height:80rem;
  width:40rem;
  padding: calc(3rem * 1.5);
    }
}

@media screen and (max-width: 730px){
    #tv-outline{
  right:calc(1rem * 1.5 + 5%);
  height:90rem;
  width:30rem;
  padding: calc(2rem * 1.5);
    }
}

@media screen and (max-width: 600px){
    #tv-outline{
  right:calc(1rem * 1.5 + 5%);
  height:90rem;
  width:20rem;
  padding: calc(1rem * 1.5);
    }
}








@media screen and (min-width: 1231px){
    #tv-text{
font-size: 4rem;
    }
}

@media screen and (max-width: 1230px){
    #tv-text{
font-size: 3.6rem;
    }
}

@media screen and (max-width: 1000px){
    #tv-text{
font-size: 3.2rem;
    }
}

@media screen and (max-width: 860px){
    #tv-text{
font-size: 2.8rem;
    }
}

@media screen and (max-width: 730px){
    #tv-text{
font-size: 2.45rem;
    }
}

@media screen and (max-width: 600px){
    #tv-text{
font-size: 1.8rem;
    }
}








@media screen and (min-width: 1231px){
    #rewind, #word1, #word2, #forward{
left: 20rem;
    }
}

@media screen and (max-width: 1230px){
    #rewind, #word1, #word2, #forward{
left: 15rem;
    }
}

@media screen and (max-width: 1000px){
    #rewind, #word1, #word2, #forward{
left: 10rem;
    }
}

@media screen and (max-width: 860px){
    #rewind, #word1, #word2, #forward{
left: 5rem;
    }
}

@media screen and (max-width: 730px){
    #rewind, #word1, #word2, #forward{
left: 2rem;
    }
}

@media screen and (max-width: 600px){
    #rewind, #word1, #word2, #forward{
left: 1rem;
    }
}






@media screen and (min-width: 1231px){
    #pauseButton, #playButton, #word3, #word4{
right: 20rem;
    }
}

@media screen and (max-width: 1230px){
    #pauseButton, #playButton, #word3, #word4{
right: 15rem;
    }
}

@media screen and (max-width: 1000px){
    #pauseButton, #playButton, #word3, #word4{
right: 10rem;
    }
}

@media screen and (max-width: 860px){
    #pauseButton, #playButton, #word3, #word4{
right: 5rem;
    }
}

@media screen and (max-width: 730px){
    #pauseButton, #playButton, #word3, #word4{
right: 2rem;
    }
}

@media screen and (max-width: 600px){
    #pauseButton, #playButton, #word3, #word4{
right: 1rem;
    }
}



@media screen and (min-width: 1301px){
    .skipright, .skipintersect2, #stop-button{
 width: 0;
 height: 0;
 border-top: 50px solid transparent;
 border-left: 100px solid rgb(156, 255, 123);
 border-bottom: 50px solid transparent;
    }
}

@media screen and (max-width: 1300px){
    .skipright, .skipintersect2, #stop-button{
 width: 0;
 height: 0;
 border-top: 25px solid transparent;
 border-left: 50px solid rgb(156, 255, 123);
 border-bottom: 25px solid transparent;
    }
}




@media screen and (min-width: 1301px){
    .skipintersect2{
  position:absolute;
left: -55px;
bottom: 0px;
    }
}

@media screen and (max-width: 1300px){
    .skipintersect2{
  position:absolute;
left: -27.5px;
bottom: 0px;
    }
}




@media screen and (min-width: 1301px){
    .skipleft, .skipintersect{
 width: 0;
 height: 0;
 border-top: 50px solid transparent;
 border-right: 100px solid rgb(156, 255, 123);
 border-bottom: 50px solid transparent;
    }
}

@media screen and (max-width: 1300px){
    .skipleft, .skipintersect{
 width: 0;
 height: 0;
 border-top: 25px solid transparent;
 border-right: 50px solid rgb(156, 255, 123);
 border-bottom: 25px solid transparent;
    }
}




@media screen and (min-width: 1301px){
    .skipintersect{
  position:absolute;
left: 55px;
bottom: 0px;
    }
}

@media screen and (max-width: 1300px){
    .skipintersect{
  position:absolute;
left: 27.5px;
bottom: 0px;
    }
}







@media screen and (min-width: 551px){
    #skipbuttonleft{
margin-right: calc(3rem + 5%);
    }
}

@media screen and (max-width: 550px){
    #skipbuttonleft{
margin-right: calc(3rem + 5%);
    }
}



@media screen and (min-width: 551px){
    #skipbuttonright{
margin-left: calc(3rem + 5%);
    }
}

@media screen and (max-width: 550px){
    #skipbuttonright{
margin-left: calc(3rem + 5%);
    }
}




