html{
  font-size: 10px;
  line-height: 1.5;
  height: 100%;
}

body{
  height:100%;
margin:0px;
}

    @font-face {
        font-family: "linebeam";
        src: url('../fonts/Linebeam.ttf')

    }

        @font-face {
        font-family: "techy";
        src: url('../fonts/Technology-Bold.ttf')

    }

#background{
  height:100%;
  width: 100%;
  position:fixed;
  z-index: -1;
  background-image: linear-gradient(to bottom, rgb(63, 57, 51), rgb(172, 171, 143),  rgb(63, 57, 51));
box-shadow: inset 0px 0px 20px rgb(29, 25, 44) ;
}


    #outer-div{
  width: 100%;
  display:inline-block;

}

#text-left{
  font-size: calc(6rem * 1.5);
  vertical-align: bottom;
  text-align: center;
  position: absolute;
  margin-top: 50px;
  color:rgb(97, 234, 255);
  filter: drop-shadow(2px 2px 30px rgb(0, 72, 255));
  font-family: 'linebeam';
}

#text-left span 
{
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}



.borders{
  border-top: 10px rgb(48, 53, 63);
border-left: 10px rgb(25, 30, 40);
border-bottom: 0;
border-right: 0;
border-style:hidden;
margin-bottom: 0;
padding-left: 20px;
padding-top: 20px;
box-shadow: inset 2px 2px 10px rgb(29, 25, 44) ;
border-radius: 2rem;
}




#menu-button{
  font-size: calc(4rem * 1.5);
  padding-left: 40px;
  display: inline-block;
  position: fixed;
  bottom:0;
  font-family: 'techy';
  letter-spacing: 5px;
    color:rgb(97, 234, 255);
  filter: drop-shadow(2px 2px 20px rgb(0, 72, 255));
}






.skipleft{

 width: 0;
 height: 0;
 border-top: 50px solid transparent;
 border-right: 100px solid rgb(255, 255, 255);
 border-bottom: 50px solid transparent;
    
}

.skipintersect{
  position:absolute;
left: 55px;
bottom: 0px;
}

#skipbuttonleft{
position: relative;
display: inline-block;
margin-right: calc(5rem + 5%);
}


.skipright{
 width: 0;
 height: 0;
 border-top: 50px solid transparent;
 border-left: 100px solid rgb(151, 151, 155);
 border-bottom: 50px solid transparent;
    
}

.skipintersect2{
  position:absolute;
left: -55px;
bottom: 0px;
}

#skipbuttonright{
position: relative;
display: inline-block;
margin-left: calc(5rem + 5%);
}


#stop-button{
  height: 100px;
  width: 100px;
background-color: rgb(97, 234, 255);
display:inline-block;
position:relative;

}


#buttonscontainer{
  display: inline-block;
  position: absolute;
  width:100%;
filter: drop-shadow(2px 2px 30px rgb(0, 72, 255));
}